@charset "UTF-8";
/*resetear los estilos de HTML*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Pequeñas*/
@media screen and (max-width: 425px) {
  .section nav {
    position: relative;
  }
}
/*Medianas*/
/*Grandes*/
body {
  min-width: 712px;
  margin: 0px 15px;
}

/* INICIO HEADER*/
header {
  background-color: black;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-evenly;
}
header .navbar-nav {
  background-color: black;
  z-index: 5;
}
header .nav-item:hover, header .dropdown-item:hover {
  background-color: grey;
}

.navbar-collapse {
  background-color: black;
  width: 150px;
  margin-left: 20px;
}

.dropdown-item, .dropdown-menu {
  background-color: black;
  color: white;
}

.nav-link {
  display: flex;
  justify-content: center;
  color: white !important;
}

.logo {
  display: flex;
  padding: 0% 0% 0% 2%;
  transition: all 1s linear;
  height: 120px;
  width: 120px;
}

.tel {
  padding: 0% 0% 0% 0%;
  width: 200px;
  transition: all 1s linear;
  height: 100px;
  display: flex;
}

.navbar {
  font-size: 12px !important;
  text-decoration: none;
  width: 900px;
  background-color: black !important;
}

.container-fluid {
  display: flex;
  align-items: flex-end !important;
  height: 150px;
}

.navbar-brand {
  height: 150px;
  padding: 0px;
}

header:hover .tel {
  transform: translateX(-150px) rotate(-360deg);
}

header:hover .logo {
  transform: translateX(150px) rotate(360deg);
}

.navbar-toggler {
  background-color: white;
}

/*fin Header*/
/*Seccion 1*/
.seccion1 {
  width: 100%;
  background: linear-gradient(to bottom, black, #212529);
  color: white;
}
.seccion1 .btn-primary {
  background-color: black;
  border-color: white;
  color: lightcoral;
}
.seccion1 label {
  color: lightgray;
}

/*fin seccion 1*/
/*Seccion 2 y 4*/
.contenedor {
  background: linear-gradient(to bottom, #212529, #343a40);
  color: white;
  text-align: center;
  font-size: 40px;
  max-width: 100%;
}
.contenedor p {
  text-align: center;
  justify-content: center;
}
.contenedor .requisitos-cont {
  display: flex;
  justify-content: center;
}
.contenedor .requisitos-cont .requisitos {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 12px;
}
.contenedor .requisitos-cont .requisitos img {
  width: 100px;
  height: 100px;
}

.contenedor-2 {
  background: linear-gradient(to bottom, #495057, #6c757d);
}

/*Fin seccion 2 y 4*/
/*Seccion 3*/
.slogan {
  background: linear-gradient(to bottom, #343a40, #495057);
  border-color: white;
  color: lightcoral;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 45px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2% 0% 2% 0%;
  margin: 0px;
}

.slogan-3 {
  padding: 2px;
  border-color: white;
}

/*Fin seccion 3*/
/*Pie de pagina*/
.contact {
  background: linear-gradient(to bottom, #e9ecef, white);
}
.contact .contacto {
  color: black;
  text-align: center;
  font-size: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.contact .contacto ul {
  color: black;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.contact .contacto ul a {
  text-decoration: none;
  color: black;
}

footer p {
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration-line: underline;
  border: 20px;
}

.segui {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 4;
}

footer nav p {
  position: fixed;
  bottom: 10px;
  right: 40px;
  text-decoration: none;
}

.follow-us {
  display: grid;
  justify-content: center;
  list-style: none;
  text-align: center;
  transition: all 2s;
  margin: 5px 0px 5px 0px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
}

.scale:hover {
  transform: scale(1.2);
}

.scale, .contacto img {
  margin: 12px;
  width: 30px;
  height: 30px;
  padding-left: 0px;
}
.scale img, .contacto img img {
  width: 30px;
  height: 30px;
}

.facebook {
  grid-column: 1;
  grid-row: 1;
}

.instagram {
  grid-column: 2;
  grid-row: 1;
}

.linkedin {
  grid-column: 3;
  grid-row: 1;
}

.youtube {
  grid-column: 4;
  grid-row: 1;
}

.twitter {
  grid-column: 5;
  grid-row: 1;
}

.ayuda {
  background-color: lightcoral;
  color: white;
  fill: white;
  position: fixed;
  right: 50px;
  bottom: 20px;
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 40px;
  text-decoration: none;
}
.ayuda a {
  color: white;
}
.ayuda img {
  background-color: lightcoral;
  height: 30px;
  width: 30px;
}

.top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  height: 20px;
  width: 20px;
}
.top img {
  height: 20px;
  width: 20px;
  border-radius: 40px;
}

/*fin pie de pagina*/
.preg-frec {
  background: linear-gradient(to bottom, #6c757d, white) !important;
}
.preg-frec p {
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration-line: underline;
  margin: 0px 0px 0px 20px;
}

.accordion-collapse, .accordion, .accordion-header, .accordion-item, .accordion-body, .accordion-button {
  color: black;
  border: 100px !important;
  border-color: black;
  background: linear-gradient(to bottom, #ced4da, #dee2e6);
}

/*# sourceMappingURL=style.css.map */
