@import "listas";
@import "operadores";
@import "mixins";

/* INICIO HEADER*/

header{
    background-color: nth($colores, 1);
    width: $ancho;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    
    .navbar-nav{
        background-color: black;
        z-index: +5;

    }
    
    .nav-item:hover, .dropdown-item:hover{
        background-color: grey;

    }
}

.navbar-collapse{
    background-color: nth($colores, 1);
    width: 150px;
    margin-left: 20px;

}

.dropdown-item, .dropdown-menu{
    background-color: nth($colores, 1);
    color: white;
}

.nav-link{
    display: flex;
    justify-content: center;
    color: nth($colores, 6)!important;
    
}

.logo{
    display: flex;
    padding: 0% 0% 0% 2%;
    transition: all 1s linear;
    height: 120px;
    width: 120px;

}
.tel
{
    padding: 0% 0% 0% 0%;
    width: 200px;
    transition: all 1s linear;
    height: 100px;
    display: flex;
}


.navbar{
    font-size: 12px!important;
    text-decoration: none;
    width: 900px;
    background-color: nth($colores, 1)!important;
}

.container-fluid{
    display: flex;
    align-items: flex-end!important;
    height: 150px;
}

.navbar-brand{
    height: 150px;
    padding: 0px;
}

header:hover .tel{
    @include redes(translateX(-150px) rotate(-360deg));
}

header:hover .logo{
    @include redes(translateX(150px) rotate(360deg));
}

.navbar-toggler{
    background-color: white;
}

/*fin Header*/
