$minimo: (
    bg-color-minimo: red,
);

$bajo: (
    bg-color-bajo: orange,
);

$medio: (
    bg-color-medio: yellow,
);

$alto: (
    bg-color-alto: lightgreen
);

$maximo: (
    bg-color-maximo: green
);

