@import "mixins";
@import "operadores";
@import "listas";

/*Pie de pagina*/


.contact{
    background: linear-gradient(to bottom, #e9ecef, white);

    .contacto{
        color: nth($colores, 1);
        text-align: center;
        font-size: 10px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        ul{
            color: nth($colores, 1);
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            text-decoration: none;
            
            a{
                text-decoration: none;
                color: nth($colores, 1);
            }
        }
    }
}

footer p
{
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline;
    border: 20px;
}

.segui{
    background-color: nth($colores, 6);
    grid-column-start: 1;
    grid-column-end: 4;
}


footer nav p{
position: fixed;
bottom: 10px;
right: 40px;
text-decoration: none;


}

.follow-us{
display: grid;
justify-content: center;
list-style: none;
text-align: center;
transition: all 2s;
margin: 5px 0px 5px 0px;
grid-template-columns: auto auto auto auto auto;
grid-template-rows: auto;
}

.scale:hover {
    @include redes(scale(1.2))
}

.scale, .contacto img {
    margin: 12px;
    width: $iconos;
    height: $iconos;
    padding-left: 0px;
    img{
        width: $iconos;
        height: $iconos;
    }
}

.facebook{
    @include grilla(1,1)

}

.instagram{
    @include grilla(2,1)
}

.linkedin{
    @include grilla(3,1)}

.youtube{
    @include grilla(4,1)

}

.twitter{
    @include grilla(5,1)}

.ayuda{
    background-color:  nth($colores, 5);;
    color:  nth($colores, 6);
    fill: nth($colores, 6);
    position: fixed;
    right: 50px;
    bottom: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 40px;
    text-decoration: none;
    a{
        color: white;
    }
    img{
        background-color: nth($colores, 5);
        height: 30px;
        width: 30px;
        }
    
}
.top{
    position: fixed;
    right: 20px;
    bottom: 30px;
    height: 20px;
    width: 20px;
    
    img{
        height: 20px;
        width: 20px;
        border-radius: 40px;
    }

}
  

/*fin pie de pagina*/