@import "mixins";

/*Pie de pagina*/


.contacto{
    color: nth($colores, 4);
    text-align: center;
    font-size: 30px;
    li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
        
        }
}

footer p
{
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline;
    margin: 30px;
}

footer nav p{
position: fixed;
bottom: 10px;
right: 40px;

}

.follow-us{
display: grid;
justify-content: center;
list-style: none;
text-align: center;
transition: all 2s;
margin: 30px 0px 30px 0px;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
}

.scale:hover {
    @include redes(scale(1.2))
}

.scale{
margin: 12px;
}

.facebook{
    @include grilla(1,1)

}

.instagram{
    @include grilla(3,1)
}

.linkedin{
    @include grilla(2,2)}

.youtube{
    @include grilla(1,3)

}

.twitter{
    @include grilla(3,3)}

/*fin pie de pagina*/