/*Seccion 1*/

@import "mapas";
@import "listas";


.seccion1{
    width: $ancho;
    background: linear-gradient(to bottom, black, #212529);
    color: white;
    .btn-primary{
        background-color: black;
        border-color: white;
        color: nth($colores, 5);
        
    }
    label{
     color: lightgray;
     
    }
}

/*fin seccion 1*/

