@import "listas";

/*Seccion 3*/
.slogan
    {   
        background-color: nth($colores, 7);
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 45px;
        display: inline-block;
        width: $ancho;
        height: 100%;
        padding: 2% 0% 2% 0%;
        margin: 0px;
    }


/*Fin seccion 3*/