@import "listas";

/*Seccion 3*/
.slogan{   
        background: linear-gradient(to bottom, #343a40, #495057);
        border-color: white;
        
        color: nth($colores, 5);
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 45px;
        display: inline-block;
        width: $ancho;
        height: 100%;
        padding: 2% 0% 2% 0%;
        margin: 0px;
    }

.slogan-3{
    padding: 2px;
    border-color: white;
    }
/*Fin seccion 3*/